#!/bin/bash
set -eufo pipefail

exec 1> >(logger -s -t $(basename $0) 2>&1)
exec 2> >(logger -s -t $(basename $0))

## GitLab Job metric settings
# https://gitlab.com/gitlab-com/runbooks/-/blob/master/docs/uncategorized/job_completion.md
RESOURCE='wale-basebackup'
MAX_AGE='108000' # 30 Hours.
PROM_SHARD='shard/<%= node['prometheus']['labels']['shard'] %>'
PROM_TIER='tier/<%= node['prometheus']['labels']['tier'] %>'
PROM_TYPE='type/<%= node['prometheus']['labels']['type'] %>'

patroni_role(){
    local ip=`hostname -I | tr -d '[:space:]'`
    eval "/usr/local/bin/gitlab-patronictl list -f json | jq -r --arg ip ${ip} '.[] | select(.Host==\"$ip\").Role'"
}

patroni_cluster(){
    eval "/usr/local/bin/gitlab-patronictl list -f json | jq '.[1].Cluster' | sed -e  's/^\"//' -e 's/\"$//'"
}

pushgateway(){
    local url="http://localhost:9091/metrics/job/wale-basebackup/${PROM_SHARD}/${PROM_TIER}/${PROM_TYPE}"
    curl -siv --data-binary @- "${url}"
}

error_out(){
    local LASTLINE="$1"
    local LASTERR="$2"
    cat <<PROM | pushgateway
# HELP gitlab_job_failed Boolean status of the job.
# TYPE gitlab_job_failed gauge
gitlab_job_failed{resource="${RESOURCE}"} 1
PROM
#    slack "danger" "Backup failed on ${HOSTNAME}. Error on line ${LASTLINE}, exit error code: ${LASTERR}"
}

trap 'error_out $LINENO $?' ERR

role=$(patroni_role)
if [ "$role" == "Leader" ]
then
    echo "it's a master"
else
    echo "it's a replica"
    exit
fi

## Push start of backup to pushgateway.
cat <<PROM | pushgateway
# HELP gitlab_job_start_timestamp_seconds The start time of the job.
# TYPE gitlab_job_start_timestamp_seconds gauge
gitlab_job_start_timestamp_seconds{resource="${RESOURCE}"} $(date +%s)
# HELP gitlab_job_success_timestamp_seconds The time the job succeeded.
# TYPE gitlab_job_success_timestamp_seconds gauge
gitlab_job_success_timestamp_seconds{resource="${RESOURCE}"} 0
# HELP gitlab_job_max_age_seconds How long the job is allowed to run before marking it failed.
# TYPE gitlab_job_max_age_seconds gauge
gitlab_job_max_age_seconds{resource="${RESOURCE}"} ${MAX_AGE}
# HELP gitlab_job_failed Boolean status of the job.
# TYPE gitlab_job_failed gauge
gitlab_job_failed{resource="${RESOURCE}"} 0
PROM

PGPORT=<%= node['gitlab_wale']['postgres_port'] %> PGHOST=localhost PGUSER=<%= node['gitlab_wale']['backup_user'] %> \
/usr/bin/envdir /etc/wal-e.d/env /opt/wal-e/bin/wal-e backup-push <%= node['gitlab_wale']['postgres_dir'] %>

## Push finish of backup to pushgateway.
cat <<PROM | pushgateway
# HELP gitlab_job_success_timestamp_seconds The time the job succeeded.
# TYPE gitlab_job_success_timestamp_seconds gauge
gitlab_job_success_timestamp_seconds{resource="${RESOURCE}"} $(date +%s)
PROM
